/* Header */
ul.nav-list {
  padding: 0px;
  display: flex;
  gap: 40px;
  margin: 20px 40px;
}

/* Estilo dos links */
ul.nav-list li a {
  text-decoration: none;
  color: #990000;
  font-size: 20px;
}

ul.nav-list li a:hover {
  color: #690000;
  transition: color ease-out;
}

/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo img {
  width: 350px;
  padding: 10px;
}

/* campo de busca */
.icon-search {
  position: absolute;
  pointer-events: none;
  top: 27px;
  padding-left: 5px;
}

.search input {
  justify-content: center;
  background-color: #990000;
  border: 1px solid #490000;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  padding-left: 30px;
  outline: none;
  transition: background-color 0.2s ease-out;
}

input::placeholder {
  color: #200b0b;
  font-size: 15px;
  font-style: italic;
}

.search input:hover {
  background-color: #830000;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0f0606;
  min-width: 110px;
  padding: 0px;
  z-index: 1;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* Fim do Header */

/* início do main */
.main {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #080303;
}

.titulo {
  color: #b6b6b6;
  text-align: center;
  font-size: 40px;
}

.main img {
  width: 800px;
  height: 400px;
  padding-left: 70px;
}

.small {
  color: #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.subtitulo {
  color: #b6b6b6;
  text-align: center;
  margin-top: 3px;
}

.content {
  color: #b6b6b6;
  font-size: 20px;
  text-align: center;
}

.content img {
  width: 550px;
  height: 300px;
  margin-top: 10px;
}
/* fim do main */

/* início do footer */
.icones-redes {
  display: flex;
  justify-content: right;
  gap: 15px;
}
/* fim do footer */
